<section class="block container">
  <header class="textbox">
    <h3 class="textbox__text">We have many packges to suit your needs</h3>
  </header>
  <div class="grid grid--1x3 center" data-aos="fade-up">
    <div class="plan">
      <a class="card secondary">
        <header class="card__header">pre made site</header>
        <ul class="list plan__list">
          <li class="list--tick">
            <span class="list--tick__item">affordable</span>
          </li>
          <li class="list--tick">
            <span class="list--tick__item">fast</span>
          </li>
          <li class="list--tick">
            <span class="list--tick__item">easy</span>
          </li>
        </ul>
        <div class="card__footer">
          <div class="plan__price">50</div>
        </div>
      </a>
    </div>
    <div class="plan plan--popular">
      <a class="card primary">
        <header class="card__header bookmark">
          custom made site
          <div class="bookmark__text">best</div>
        </header>
        <ul class="list plan__list">
          <li class="list--tick">
            <span class="list--tick__item">professional</span>
          </li>
          <li class="list--tick">
            <span class="list--tick__item">flexible</span>
          </li>
          <li class="list--tick">
            <span class="list--tick__item">originative</span>
          </li>
        </ul>
        <div class="card__footer">
          <div class="plan__price">100</div>
          <div class="badge badge--premium">premium</div>
        </div>
      </a>
    </div>
    <a href="" class="plan">
      <div class="card secondary">
        <header class="card__header">
          pre made site
          <img class="iconsale" src="images/sale.png" alt="sale icon" />
        </header>
        <ul class="list plan__list">
          <li class="list--tick">
            <span class="list--tick__item">affordable</span>
          </li>
          <li class="list--tick">
            <span class="list--tick__item">fast</span>
          </li>
          <li class="list--tick">
            <span class="list--tick__item">easy</span>
          </li>
        </ul>
        <div class="card__footer">
          <div class="plan__price">
            25
            <div class="plan__price--discount">50</div>
          </div>
          <div class="badge badge--sale">50%</div>
        </div>
      </div>
    </a>
  </div>
</section>
