<dev class="grid grid--1x3">
  <dev class="plan">
    <a class="card secondary">
      <header class="card__header">hello</header>
      <ul class="list plan__list" href="#">
        <li class="list--tick"><span class="list--tick__item">2</span></li>
        <li class="list--tick"><span class="list--tick__item">2</span></li>
        <li class="list--tick"><span class="list--tick__item">2</span></li>
      </ul>
      <dev class="card__footer">
        <dev class="plan__price"
          >52
          <dev class="plan__price--discount">25</dev>
        </dev>
      </dev>
    </a>
  </dev>
  <dev class="plan plan--popular">
    <a class="card primary">
      <header class="card__header bookmark">
        hello
        <dev class="bookmark__text">best</dev>
      </header>
      <ul class="list plan__list" href="#">
        <li class="list--tick"><span class="list--tick__item">2</span></li>
        <li class="list--tick"><span class="list--tick__item">2</span></li>
        <li class="list--tick"><span class="list--tick__item">2</span></li>
      </ul>
      <dev class="card__footer">
        <dev class="plan__price"
          >52
          <dev class="plan__price--discount">25</dev>
        </dev>
      </dev>
    </a>
  </dev>
  <a href="" class="plan">
    <dev class="card secondary">
      <header class="card__header">hello</header>
      <ul class="list plan__list" href="#">
        <li class="list--tick"><span class="list--tick__item">2</span></li>
        <li class="list--tick"><span class="list--tick__item">2</span></li>
        <li class="list--tick"><span class="list--tick__item">2</span></li>
      </ul>
      <dev class="card__footer">
        <dev class="plan__price"
          >52
          <dev class="plan__price--discount">25</dev>
        </dev>
        <dev class="badge badge--premium">premium </dev>
      </dev>
    </dev>
  </a>
</dev>
<!-- لا تنسين الsale icon  حطيها ب img و class=iconsale -->
