<div class="footerlistbox grid grid--1x2 center">
  <div class="footerlist">
    <i class="sprite sprite-github footerlist__icon"></i>
    <a href="" class="footerlist__text">github</a>
  </div>
  <div class="footerlist">
    <i class="sprite sprite-twitter footerlist__icon"></i>
    <a href="#" class="footerlist__text">twitter</a>
  </div>
  <div class="footerlist">
    <i class="sprite sprite-instagram footerlist__icon"></i>
    <a href="#" class="footerlist__text">instagram</a>
  </div>
  <div class="footerlist">
    <i class="sprite sprite-support footerlist__icon"></i>
    <a href="#" class="footerlist__text">support</a>
  </div>
</div>
