<section class="block">
  <header class="textbox">
    <h3 class="textbox__text">Our service has many benefits</h3>
  </header>
  <div class="grid grid--1x2 container media">
    <picture data-aos="fade-right" class="media__img">
      <source type="image/svg+xml" srcset="images/girlphone.svg" />
      <source type="image/png" srcset="images/girlphone.png" />
      <img src="images/girlphone.png" alt="" />
    </picture>
    <p>make your own website from any device and anywhere!</p>
  </div>
  <div class="grid grid--1x2 container media">
    <picture class="media__img" data-aos="fade-left">
      <source type="image/svg+xml" srcset="images/girlscreen.svg" />
      <source type="image/png" srcset="images/girlscreen.png" />
      <img src="images/girlscreen.png" alt="" />
    </picture>
    <p class="media__text">our service support simple and complix websites.</p>
  </div>
  <div class="grid grid--1x2 container media">
    <picture class="media__img" data-aos="fade-right">
      <source type="image/svg+xml" srcset="images/womanandman.svg" />
      <source type="image/png" srcset="images/womanandman.png" />
      <img src="images/womanandman.png" alt="" />
    </picture>
    <p class="media__text">our support service is the best in the industry</p>
  </div>
</section>
