<dev class="grid grid--1x2 container media">
  <picture class="media__img">
    <source type="image/svg" src="images/girlphone.svg" />
    <source type="image/png" src="images/girlphone.png" />
    <img src="images/girlphone.png" alt="" />
  </picture>
  <p>make your own website from any device and anywhere!</p>
</dev>
<dev class="grid grid--1x2 container media">
  <picture class="media__img">
    <source type="image/svg" src="images/girlphone.svg" />
    <source type="image/png" src="images/girlphone.png" />
    <img src="images/girlphone.png" alt="" />
  </picture>
  <p class="media__text">make your own website from any device and anywhere!</p>
</dev>
<dev class="grid grid--1x2 container media">
  <picture class="media__img">
    <source type="image/svg" src="images/girlphone.svg" />
    <source type="image/png" src="images/girlphone.png" />
    <img src="images/girlphone.png" alt="" />
  </picture>
  <p class="media__text">make your own website from any device and anywhere!</p>
</dev>
<dev class="grid grid--1x2 container media">
  <picture class="media__img">
    <source type="image/svg" src="images/girlphone.svg" />
    <source type="image/png" src="images/girlphone.png" />
    <img src="images/girlphone.png" alt="" />
  </picture>
  <p class="media__text">make your own website from any device and anywhere!</p>
</dev>
