<dev class="grid grid--1x2">
  <dev class="testimonial">
    <dev class="testimonial__textbox"
      ><dev class="testimonial__textbox__text"
        >webmine made it easy for me to open my own online shop
      </dev>
      <dev class="testimonial__textbox__name"
        >amy black, a business owner</dev
      ></dev
    >
    <img
      src="images\amyblack.jpg"
      alt="picture of a women"
      class="testimonial__img"
    />
  </dev>
  <dev class="testimonial">
    <dev class="testimonial__textbox"
      ><dev class="testimonial__textbox__text"
        >webmine made it easy for me to open my own online shop
      </dev>
      <dev class="testimonial__textbox__name"
        >amy black, a business owner</dev
      ></dev
    >
    <img
      src="images\amyblack.jpg"
      alt="picture of a women"
      class="testimonial__img"
    />
  </dev>
</dev>
