<section class="block center container">
  <header class="textbox">
    <h3 class="textbox__text">read our customers experience</h3>
  </header>
  <div class="grid grid--1x2">
    <div class="testimonial">
      <img
        src="images/maxjames.jpg"
        alt="picture of a man"
        class="testimonial__img"
      />
      <div class="testimonial__textbox">
        <div class="testimonial__textbox__text">
          webmine gave me the the ability to make my Dream website
        </div>
        <div class="testimonial__textbox__name">
          max james, a graphic designer
        </div>
      </div>
    </div>
    <div class="testimonial">
      <img
        src="images/amyblack.jpg"
        alt="picture of a women"
        class="testimonial__img"
      />
      <div class="testimonial__textbox">
        <div class="testimonial__textbox__text">
          webmine made it easy for me to open my own online shop
        </div>
        <div class="testimonial__textbox__name">
          amy black, a business owner
        </div>
      </div>
    </div>
  </div>
</section>
